<div id="bck">
        La sociedad cuenta con una plantilla de 25 empleados comprometidos para otorgar a nuestros clientes el mejor servicio adaptado a sus necesidades, dirigidos por el socio fundador Ciro Polo Olvera, contando con un curriculum de:</p>

       <ol>
          <li>Contador Público egresado de la Universidad Autónoma de Querétaro</li>
          <li>Maestría en Impuestos por la Universidad Autónoma de Querétaro.</li>
          <li>Licenciatura en Derecho egresado de la Universidad del Centro del Bajío.</li>
       </ol>
       
       Adicionalmente, ha impartido clases de impuestos, finanzas y costos a nivel licenciatura desde 1988 y hasta la fecha en la Universidad Autónoma de Querétaro. A partir del año 2007, ha sido docente de nivel posgrado en materia de impuestos y finanzas en la misma universidad.
</div>