<div id="bck">        
        <i class="material-icons">location_on</i>
        Calle de la Voluntad S/N Col. Unidad Nacional. Querétaro, Querétaro.
        <br>
        <i class="material-icons">phone</i>
        Tel: (01) 442 - 24-300-79
        <br>
        <i class="material-icons">navigation</i>
        <a href="Ruta.html">Ve el mapa<span class="un-offscreen">Ruta disponible al dar click</span></a>
        <br>
    </div>