<div id="bck">        
        <i class="material-icons">location_on</i>
        De Gpe 27. San Juan del Río, Querétaro.
        <br>
        <i class="material-icons">phone</i>
        Tel: (01)427-272-59-54
        <br>
        <i class="material-icons">navigation</i>
        <a href="Ruta.html">Ve el mapa<span class="un-offscreen">Ruta disponible al dar click</span></a>
        <br>
    </div>