<div id="bck">        
        <i class="material-icons">location_on</i>
        Nicolas Alcántara No. 21, Centro, Tequisquiapan, Querétaro.
        <br>
        <i class="material-icons">phone</i>
        Tel: (01) 414-273-10-97
        <br>
        <i class="material-icons">navigation</i>
         <a href="Ruta.html">Ve el mapa<span class="un-offscreen">Ruta disponible al dar click</span></a>
        <br>
    </div>