.parallax-container 
{
      height: 250px;
}
.centrado
{
    text-align: center;
}
.subtitulo
{
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

.neg
{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.dow
{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.tit
{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
.contenido
{
    text-align: justify;
    font-size: 18px;
}
.barramadera
{
    background:url(http://www.discovertextures.com/wp-content/uploads/2015/11/wood-texture0019-e1447163733763-1024x766.jpg)
    repeat;
}

.barramadera2
{
    background:url(http://www.discovertextures.com/wp-content/uploads/2015/11/wood-texture0019-e1447163733763-1024x766.jpg)
    repeat;
   margin-top: auto;
}

.footerx 
{
   position: absolute;
   width:100%;
   height:60px; 
}

.footdown{
    min-height:100%;
    position: absolute;
}
body 
{
   display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main 
{
    flex: 1 0 auto;
}

#imgn { 
  background: url(http://www.graphicsfuel.com/wp-content/uploads/2011/09/old-wood-texture-01-preview.jpg) repeat center center fixed;
   position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: 0; 
  min-width: 60%;
  min-height: 60%;
}


.un-offscreen { 
position: absolute !important; 
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ 
clip: rect(1px, 1px, 1px, 1px); 
}

#bck
{
    color: white;
    background-color: darkgray;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    filter: alpha(opacity=90);
    opacity:0.9;
}

.right{
    text-align: right;
}
 
#nv
{
    background-color: #4e342e;
}

.containerz{
    min-height: 600px;
}
